* { font-family:Georgia,Arial,serif !important; }
body { color: #333 !important; font-size: 10pt; line-height:140%; background: white; }

a { color: #333; text-decoration: none; font-weight: normal; }
  a:hover { border-bottom:1px dotted #666; color:#666; }
abbr, acronym, .help { text-decoration: none; border: 0; }
h1 { font-size: 26pt; text-align: center; margin: 0; padding: 0.2in 0 0.1in; border-top: 0.1in solid #999; letter-spacing:3pt; font-variant: small-caps; }
h2 { font-size: 12pt; text-align: center; font-style:italic; margin:0 0 0.3in; padding:0; color:#666; }
h3 { font-size: 13pt; text-align: left; margin: 0; padding: 0; }
h3.location a { font-size: 13pt; text-align: left; margin: 0; padding: 0; font-weight: bold; }
  h3.subtitle { max-width: 1.5in; float:left; }
ol, ul { padding: 0 0 0 0.2in; margin: 0; }
  li { color:#ccc; }
    li span { color:#333; }
p { margin:0; padding:0; }
  p + p { margin-top: 0.1in; }

.hresume { color: #333; margin:0.1in auto; width: 7.7in; }
  .section { margin: 0; padding: 0.15in; clear:both; }
    .section + .section { border-top: 1pt solid #eee; }
.incontent { color: #333; border: 0; padding: 0 4pt 0 1.75in; }

.experience + .experience { margin-top: 0.2in; }
.location { font-weight: bold; }
.experience .summary { margin:4pt 0 8pt 0.2in; }

.multilist { margin:0;  }
  .multilist li { list-style-type:none; float:left; width: 1.66in; padding:2pt; margin:0; }
    .multilist li + li + li + li { border-top: 1pt solid #eee; }

.adr {
  margin-bottom: 10px;
}

.incontent a { border-bottom: 1px dotted rgb(102, 102, 102); }

#contactinfo { padding: 0.05in 0.15in 0.15in 0.15in; }
#actions { float: right; padding-right: 0.15in;}
#actions li { list-style: none; display: inline; margin-left: 0.1in; }
li.alternate_lang { margin-right: 0.1in; }
#actions a { border-bottom: 1px dotted rgb(102, 102, 102); }

#tool { text-align: center; ; font-size: 9pt}
#tool a { border-bottom: 1px dotted rgb(102, 102, 102); }
